:root {
  --a: darkslategrey;
  --b: dodgerblue;
  --c: #92c9b17d;
  --d: #2f3a9f;
  --e: #98fff6c2;
}

img {
  width: 300px;
  height: auto;
  transition: all 0.2s ease-in-out;
}

img:hover {
  transform: translateX(100px);
}

li:hover {
  color: rgb(109, 71, 0);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  background-image: url(../assets/img/ice-skating.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  row-gap: 60px;
}

.hidden {
  display: none;
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

nav {
  display: flex;
  gap: 50px;
  margin-bottom: 10px;
}

main {
  align-self: center;
  justify-self: center;
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  background-color: var(--e);
  border-radius: 150px;
  min-width: 80%;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0px 0px 15px rgb(255, 255, 255);
  transition: all 0.4s ease-in-out;
}

footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > button {
  background-color: var(--b);
  height: 80px;
  width: 200px;
  transition: all 0.4s ease-in-out;
}

button:hover {
  background-color: rgb(67, 161, 255);
  cursor: pointer;
  transform: scale(1.1);
}

button:active {
  background-color: var(--d);
}
header,
footer {
  background-color: var(--c);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0 0 5px 10px var(--c);
}

section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#hours {
  align-items: center;
}

section {
  border-radius: 50px;
  background: linear-gradient(145deg, #36fdc170, #2dd4a270);
  box-shadow: 23px 23px 46px #1a785c70, -23px -23px 46px #4bffff70;
  padding: 40px;
}

div {
  min-height: 90%;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 30px 0;
}

h4,
h1 {
  text-align: center;
}
